language: php

sudo: false

php:
  - 5.5.9
  - 5.5
  - 5.6

install: composer install --prefer-source --no-interaction

script: bin/phpspec run -fpretty -v

after_script: bin/coveralls -v
